body {
	background-color: #333;
}

#plaquetteVer {
	display: block;
	margin: auto;
}

#plaquetteVer img {
	display: block;
	margin:auto;
	width: 40%;
	margin-top: 5px;
}

#plaquetteHor {
	margin-top: 10px;
	display: none;
	/* display: inline-block; */
}

#plaquetteHor img {
	display: inline-block;
	width: 600px;
}

#buttons {
	position: fixed;
	margin: 5px;
}

#buttons button {
	background-color: rgba(0,0,0,.5);
	color: #fff;
	border: 0;
	outline: none;
	padding: 5px;
	border-radius: 5px;
}

@media screen and (min-device-width : 320px) and (max-device-width : 480px) {

	#plaquetteVer img {
		width: 100%;
	}

	#buttons {
		display: none;
	}
}